:root
{
  font-family: Arial, Helvetica, sans-serif;
  --primary-color: #2d3a63;
  color:#ffffff;
  background-color: #151f41;
}

body
{
  background-color: #151f41;
}

.productTitle
{
  font-size: 50px;
  font-weight: bold;
}
.productPrice
{
  color: greenyellow ;
  font-size: 36px;
}

.productDesc
{
  font-size: 24px;
}
.productDescHolder
{
  margin: 20px 0px;
  padding: 20px;
  background-color: #4c6fa7;
  border-radius: 20px;
}

.productOptions
{
  font-weight: bold;
  font-size: 24px;
}

.productOptionbtn
{
  background-color: #85b6ff;
  font-weight: bold;
  border-width: 0px;
  border-radius: 4px;
}

.home-img
{
  object-fit:cover;
}

.product-img
{
  height: 300px;
  object-fit: contain;
}
.custom-bgColor
{
    background-color: #151f41;
    color: #ffffff;

}
.custom-primaryColor
{
  background-color: var(--primary-color);
  color: #ffffff;
}
.accordion-h
{
    height: 20px;
}
.debug-green
{
    background-color: #00ff00;
}
.debug-blue
{
    background-color: #0000ff;
}
.debug-red
{
    background-color: #ff0000;
}
.image-frontpage
{
    width: auto;
}
