.pay{
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

h2 {
  margin-bottom: 20px;
  color: #333;
}
        
.section {
  margin-bottom: 20px;
  background-color: #014a8f;
  padding: 15px;
  border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

}

.product {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
        
.product:last-child {
  border-bottom: none;
}
        
.total {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
}
        
.button {
  background-color: #ff5c00;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

}
        
.button:hover {
  transition: 0.5s;
  background-color: #bb4c02;
}
        
.payment-options {
  margin-top: 10px;
}
